// Font-Family
// $fontTitleWebSite: "robotica";
// $fontText: "zikketica";
// $titleWebSite: "robotica";

//TitleWebSite
@font-face {
    font-family: "robotica";
    src: url("https: //www.fontspace.com/robotica-font-f29352");
}


//TitleOther
@font-face {
    font-family: "zikketica";
    src: url("https: //www.fontspace.com/zikketica-font-f11184");
}

//TitleWebSite
@font-face {
    font-family: "baskerville";
    src: url("https: //www.fontspace.com/open-baskerville-font-f13354");
}

